<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="BRB-SRV" value="http://172.21.70.9:2000/v3/index.json" />
        <add key="LocalPackages" value="./nuget-packages" />
    </packageSources>

    <disabledPackageSources>

        <add key="BRB-SRV" value="true" />

    </disabledPackageSources>

</configuration>